@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 20px;
}

.table-container {
  overflow-x: auto;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }
}

// styles.scss (o tu archivo de estilos principal)
.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.info-snackbar {
  background-color: #2196f3;
  color: white;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: white;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: white;
  }

  &.info-snackbar {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: white;
  }
}